/*
  Customizing elements beyond that of bootstrap
*/

div.carousel-inner img {
   width: 100%;
   min-height: 300px;
   max-height: 300px;
}

#logo {
   height: 150px;
   width: auto;
}

#headerSearch .form-control,
#headerSearch .btn {
   height: 70px;
}


#smallSearch { 
	height: 100px; 
}

#small {
	
	color: white; 
	height: 1%; 
}

#smallBook {
	height: 30px; 
}